@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

.text {
  width: 88%;
  
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  flex-shrink: 0;
}

.wrapper01 { /* for icon */
  display: flex;
  flex-direction: row-reverse;
  height: 105px;
  margin-right: 30px;

}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-left: 8px;
}

.wrapper02 { /* close-button w header */
display: flex;

justify-content:center ;
align-items: center;

margin-top: 3px;
margin-bottom: 3px;
}



/* .wrapper03 { text header 
  background-color: red;
  display: flex;
}
*/

.header {
  display: flex;
  flex-grow: 1;
  justify-content: center;

  margin-top: 13px;
  margin-bottom: 13px;
  }

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.close-button {
  display: flex;
  justify-items: end;
  margin-right: 10px;
  
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  margin-left: 58px;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}

button.continue, button.cancel {
  margin-bottom: 13px;
}